{% extends 'rss/base.html' %}
{% block body %}
    <br/>
    <div class="container pt-3">
        <div class="row">
            <div class="col-sm">
                <form action="{% url 'index' %}" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" placeholder="paste link" name="url">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Feed Rss</button>

                </form>
            </div>
            <div class="col-sm">
                <form action="{% url 'search-product-by-category' %}" method="get">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        <select name="category" class="form-control" id="id_category">
                            {% for c in categoried %}
                                <option value="{{c.id}}" selected="">{{c.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search Category</button>
                </form>
            </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">website</th>
                        <th scope="col">category</th>
                        <th scope="col">publish</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all_products %}
                        <tr class="text-center">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description|truncatechars:200 }}</td>
                            <td> <a href="{{ product.link }}" class="btn btn-primary">Visit Link</a></td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.publish }}</td>
                            <td>
                                <a class="btn btn-primary" href='{% url "update-product" product.id %}'>Update Item</a>
                                <br/>
                                <a class="btn btn-danger" href='javascript:DeleteProduct({{product.id}})'>Delete Item</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if not all_products %}
                        <tr>
                            <p>Enter your favorite RSS feed above.</p>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% include "rss/pagination.html" with page=all_products %}
        </div>
        <!-- <a class="btn btn-primary" href='#'>New Product</a> -->
    </div>

<script>
  function DeleteProduct(id) {
    if(confirm('Do you want to delete ?')) {
      location.href = '/delete_product/' + id;
    }
  }
</script>
{% endblock %}